@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:wght@100&display=swap');
/*font-family: 'Fira Sans', sans-serif;*/
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url("./Img/inicio.svg");
}
.sombra{
    width: 425px;
    height:575px;
    background-color: rgba(12, 11, 12, 0.05);
    display: flex;
    justify-content: center;
    border-radius: 2%;
}
.login2{
    width:400px;
    height: 550px;
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.login{
    width: 400px;
    height: 200px;
    background-image: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}
.login h1{
    color: white;
    font-family: 'Fira Sans', sans-serif;
}
.login p{
    color: white;
    font-family: 'Fira Sans', sans-serif;
}
.sombra h1{
    font-family: 'Fira Sans', sans-serif;
}
.logimenu{
    width: 400px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}
.usuario input{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    background-color: rgb(196, 213, 229);
    border-radius: 30px;
    width: 300px;
    height: 30px;
    border: transparent;
}
.contraseña input{
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    width: 300px;
    height: 30px;
    background-color: rgb(196, 213, 229);
    border-radius: 30px; 
    border: transparent;
}
.nm{
    display: flex;
    align-items: flex-end;
}

#ca{
    margin-left: 90px;
}
.boton{
    width: 300px;
    height: 30px;
    background-image: linear-gradient(to right, #56317a 0%, #3ab5b0 100% );
    border-radius: 30px;
    color: white;
}
.logimenu button:hover{
    color: yellow;
}