
.main{
    width: 100vw;
    height: 100vh;
    background-color: rgb(163, 161, 161);
}

.login{
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(182, 14, 14);
}